.heat-map {
    display: flex;
}

.weekly-git-contribution-container {
    display: flex;
    flex-direction: column;
}

span {
    width: 12px;
    height: 12px;
    border: 2px solid;
}

.light-green {
    background: lightgreen;
}

.green {
    background: green;
}

.dark-green {
    background: darkgreen;
}
