.carousel {
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.carousel,
.carousel__image {
  width: 320px;
  height: 246px;
}

.carousel__window {
  width: 100%;
  height: 100%;
}

.carousel__window {
  overflow: hidden; /* 超过window的部分隐藏住 */
  position: relative; /* absolute position 要找non-static的 position parent to related to */
}

.carousel__images {
  display: flex; /* block element create a new line so we use flex to make image horizontally align */
  flex-direction: row; /* not necessary since it's default value */
  position: absolute;
  transition: transform 0.3s cubic-bezier(0.15, 0.3, 0.25, 1);
  overflow: hidden;
}

.carousel__controls {
  width: 100%;
  height: 100%;
  position: absolute;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px wheat;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.carousel__control:hover {
  background: rgba(0, 0, 0, 0.5);
}